PasteDeploy==1.5.2
WebOb==1.4
cornice==0.16.2
enum==0.4.4
gevent==1.0.1
greenlet==0.4.2
http-parser==0.8.3
pyramid==1.5.1
repoze.lru==0.6
requests==2.3.0
simplejson==3.5.2
smpp.pdu==0.3
statsd-client==1.0.4
translationstring==1.1
vaurien==1.8
vaurienclient==1.1
venusian==1.0a8
zope.deprecation==4.1.1
zope.interface==4.1.1
